/* Colors */
:root {
    --light-primary-bg-color: #fff;
    --light-secondary-bg-color: #203844;
    --light-tertiary-bg-color: #f4f4f4;
    --light-primary-text-color: #000;
    --light-secondary-text-color: #fff;
    --light-primary-link-color: #00adef;
    --light-tag-bg-color: #559abb;
    --light-tag-text-color: #fff;
    --light-tag-border-color: #325b6f;
}

@font-face {
    font-family: "Main";
    src: url(/fonts/NotoSansDisplay/NotoSansDisplay-Regular.ttf);
}

@font-face {
    font-family: "Main";
    src: url(/fonts/NotoSansDisplay/NotoSansDisplay-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: "Main";
    src: url(/fonts/NotoSansDisplay/NotoSansDisplay-Thin.ttf);
    font-weight: 100;
}

@font-face {
    font-family: "Main";
    src: url(/fonts/NotoSansDisplay/NotoSansDisplay-ThinItalic.ttf);
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Main";
    src: url(/fonts/NotoSansDisplay/NotoSansDisplay-ExtraLight.ttf);
    font-weight: 200;
}

@font-face {
    font-family: "Main";
    src: url(/fonts/NotoSansDisplay/NotoSansDisplay-ExtraLightItalic.ttf);
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Main";
    src: url(/fonts/NotoSansDisplay/NotoSansDisplay-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "Main";
    src: url(/fonts/NotoSansDisplay/NotoSansDisplay-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Main";
    src: url(/fonts/NotoSansDisplay/NotoSansDisplay-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Main";
    src: url(/fonts/NotoSansDisplay/NotoSansDisplay-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Main";
    src: url(/fonts/NotoSansDisplay/NotoSansDisplay-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Main";
    src: url(/fonts/NotoSansDisplay/NotoSansDisplay-SemiBoldItalic.ttf);
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Main";
    src: url(/fonts/NotoSansDisplay/NotoSansDisplay-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Main";
    src: url(/fonts/NotoSansDisplay/NotoSansDisplay-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--light-primary-bg-color);
    color: var(--light-primary-text-color);
    font-family: Main, Helvetica, Arial;
    text-align: center;
}

.wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 40px;
    text-align: left;
}

header {
    background-color: var(--light-secondary-bg-color);
}

header .wrapper {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: left;
}

header a {
    text-decoration: none;
}

header .site-name {
    font-size: 28px;
    font-weight: 400;
    color: var(--light-secondary-text-color);
    margin-bottom: 12px;
}

header p {
    color: var(--light-secondary-text-color);
    font-size: 15px;
    font-weight: 300;
}

header .header-link {
    margin: 0 10px 0 0;
    text-decoration: underline;
    line-height: 2;
    color: var(--light-secondary-text-color);
}

header .header-ribbon {
    background-color: var(--light-tertiary-bg-color);
    height: 4px;
}

nav {
    margin-top: 20px;
}

nav li {
    display: inline-block;
    margin: 0 4px;
    line-height: 1.5em;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    margin: 12px 0 24px 0;
}

h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0 20px 0;
}

h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 16px 0 16px 0;
}

h4 {
    font-size: 16px;
    font-weight: 500;
    margin: 14px 0 14px 0;
}

p {
    font-size: 14px;
}

article p {
    text-indent: 24px;
    line-height: 1.5;
}

article p a {
    color: var(--light-primary-link-color);
}

article iframe,
article img {
    display: block;
    margin: auto;
    max-width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

a {
    color: inherit;
}

.item-list > li {
    display: block;
    padding: 1px 20px 10px 20px;
    border-radius: 8px;
    background-color: var(--light-tertiary-bg-color);
    margin-bottom: 20px;
}

.item-list > li:last-child {
    margin-bottom: 0;
}

.item-list h1 {
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 500;
}

.item-list h1 a {
    text-decoration: none;
}

.item-list p {
    margin-bottom: 0;
}

.item-list .post-date {
    text-indent: 4px;
    font-weight: 300;
}

.tag-list li,
.tag {
    display: inline-block;
    background-color: var(--light-tag-bg-color);
    color: var(--light-tag-text-color);
    font-size: 12px;
    font-weight: 400;
    padding: 3px 6px;
    border-radius: 0.4em;
    border-color: var(--light-tag-border-color);
    border-style: solid;
    border-width: 0;
    margin-right: 8px;
    margin-top: 6px;
}

.tag-list a,
.tag a {
    text-decoration: none;
}

.item-page .tag-list {
    display: inline-block;
}

.content {
    margin-bottom: 48px;
}

.browse-all {
    display: block;
    margin-bottom: 30px;
}

.all-tags li {
    margin-right: 10px;
    padding: 6px 8px;
}

footer {
    margin: 16px 0 40px 0;
}

footer p {
    font-style: italic;
    font-weight: 300;
}

@media(max-width: 600px) {
    .wrapper {
        padding: 20px 20px;
    }
}
