/* Colors */
:root {
    --light-primary-bg-color: #fff;
    --light-secondary-bg-color: #325b6f;
    --light-tertiary-bg-color: #f4f4f4;
    --light-primary-text-color: #000;
    --light-secondary-text-color: #fff;
    --light-primary-link-color: #00adef;
    --light-tag-bg-color: #559abb;
    --light-tag-text-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--light-primary-bg-color);
    color: var(--light-primary-text-color);
    font-family: Trebuchet MS, Helvetica, Arial;
    text-align: center;
}

.wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    text-align: left;
}

header {
    background-color: var(--light-secondary-bg-color);
}

header .wrapper {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: left;
}

header a {
    text-decoration: none;
}

header .site-name {
    font-size: 2em;
    color: var(--light-secondary-text-color);
    font-weight: 400;
    margin-bottom: 12px;
}

header p {
    color: var(--light-secondary-text-color);
}

header .header-link {
    text-decoration: underline;
    font-weight: 400;
    color: var(--light-secondary-text-color);
}

header .header-ribbon {
    background-color: var(--light-tertiary-bg-color);
    height: 4px;
}

nav {
    margin-top: 20px;
}

nav li {
    display: inline-block;
    margin: 0 7px;
    line-height: 1.5em;
}

h1 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    text-indent: 6px;
}

p {
    margin-bottom: 10px;
}

article p {
    margin-bottom: 0px;
    text-indent: 20px;
    line-height: 1.5;
}

article p a {
    color: var(--light-primary-link-color);
}

article iframe,
article img {
    display: block;
    margin: auto;
    max-width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

a {
    color: inherit;
}

.item-list > li {
    display: block;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--light-tertiary-bg-color);
    margin-bottom: 20px;
}

.item-list > li:last-child {
    margin-bottom: 0;
}

.item-list h1 {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: medium;
}

.item-list h1 a {
    text-decoration: none;
}

.item-list p {
    margin-bottom: 0;
}

.item-list .post-date {
    text-indent: 0;
}

.tag-list li,
.tag {
    display: inline-block;
    background-color: var(--light-tag-bg-color);
    color: var(--light-tag-text-color);
    font-weight: 400;
    padding: 4px 8px;
    border-radius: 0.5em;
    margin-right: 8px;
    margin-top: 6px;
}

.tag-list a,
.tag a {
    text-decoration: none;
}

.item-page .tag-list {
    display: inline-block;
}

.content {
    margin-bottom: 48px;
}

.browse-all {
    display: block;
    margin-bottom: 30px;
}

.all-tags li {
    margin-right: 10px;
    padding: 6px 8px;
}

footer {
    margin-bottom: 40px;
}

@media(max-width: 600px) {
    .wrapper {
        padding: 40px 20px;
    }
}
